<div id="<%= dom_id primary_shipping_address %>">
  <p>
    <strong>Street:</strong>
    <%= primary_shipping_address.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= primary_shipping_address.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= primary_shipping_address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= primary_shipping_address.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= primary_shipping_address.zip_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= primary_shipping_address.country %>
  </p>

</div>
