<td><%= customer_address.street %></td>
<td><%= customer_address.number %></td>
<td><%= customer_address.city %></td>
<td><%= customer_address.country %></td>
<td><%= customer_address.state %></td>
<td><%= customer_address.zip_code %></td>
