<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :address, class: 'form-label' %>
    <%= form.select :address_id, current_customer.customer_addresses.collect { |address| ["#{address.street} #{address.number}", address.id] }, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :payment_type, class: 'form-label' %>
    <%= form.select :payment_type, options_for_select([['cash', :cash], ['credit', :credit], ['check', :check], ['other', :other]]) %>
  </div>

  <div class="mb-3">
    <% @products.each do |prod| %>
      <label class="check-lbl">
        <%= check_box_tag 'products[]', prod.id %>
        <span class="check">
          <%= prod.name %> -
          <%= prod.price %>
        </span>
      </label>
    <% end %>
  </div>

  <div class="new_order_btn">
    <%= form.submit class: 'btn btn-primary w-50' %>
  </div>
<% end %>
