<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_number, style: "display: block" %>
    <%= form.text_field :order_number %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.label :primary_shipping_address_id, style: "display: block" %>
    <%= form.text_field :primary_shipping_address_id %>
  </div>

  <div>
    <%= form.label :payment_type, style: "display: block" %>
    <%= form.number_field :payment_type %>
  </div>

  <div>
    <%= form.label :total_order_value, style: "display: block" %>
    <%= form.text_field :total_order_value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
