<div id="<%= dom_id order %>">
  <p>
    <strong>Order number:</strong>
    <%= order.order_number %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Primary shipping address:</strong>
    <%= order.primary_shipping_address_id %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= order.payment_type %>
  </p>

  <p>
    <strong>Total order value:</strong>
    <%= order.total_order_value %>
  </p>

</div>
