<div class="row">
  <div class="col-6">
    <h1>Products</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <%= link_to "New product", new_product_path, class: 'btn btn-secondary align-self-center' %>
  </div>
</div>


<div id="products">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col">weight</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <%= render product %>
          <td>
            <%= link_to "Show", product, class: 'btn btn-primary w-25 m-1' %>
            <%= link_to "Edit", edit_product_path(product), class: 'btn btn-primary w-25 m-1' %>
            <%= button_to "Delete", product, method: :delete, class: 'btn btn-primary w-25 m-1' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
