<!DOCTYPE html>
<html>
  <head>
    <title>YumiDeli</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-3 border-end-3">
          <div class="card d-flex">
            <img src="https://cdn-icons.flaticon.com/png/512/3033/premium/3033143.png?token=exp=1657915163~hmac=d4a5e56e762062cd3e72ff64c8fa1075" class="card-img-top w-50 align-self-center">
            <div class="card-body">
              <h5 class="card-title">Hi! <%= current_customer.name %></h5>
              <p class="card-text">Ypur personal  information is:
                <ul>
                  <li><strong>Phone:</strong> <%= current_customer.phone %></li>
                  <li><strong>Street</strong> <%= current_customer.street %></li>
                  <li><strong>Street number</strong> <%= current_customer.number %></li>
                  <li><strong>City</strong> <%= current_customer.city %></li>
                  <li><strong>Country</strong> <%= current_customer.country %></li>
                  <li><strong>State</strong> <%= current_customer.state %></li>
                  <li><strong>ZIP Code</strong> <%= current_customer.zip_code %></li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
              <%= link_to "Logout", destroy_customer_session_path, data: { turbo_method: :delete }, class: 'btn btn-secondary w-100' %>
            </div>
          </div>        
        </div>
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
