<!DOCTYPE html>
<html>
  <head>
    <title>YumiDeli</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-3 border-end-3">
          <div class="card d-flex">
            <img src="https://i.pinimg.com/originals/d8/55/9f/d8559f57d2cfcc8db35f032b424f1fe8.gif" class="card-img-top w-50 align-self-center">
            <div class="card-body">
              <h5 class="card-title">Hi! <%= current_customer.name %></h5>
              <p class="card-text">Your personal  information is:
                <ul>
                  <li><strong>Phone:</strong> <%= current_customer.phone %></li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
              <%= link_to "Logout", destroy_customer_session_path, data: { turbo_method: :delete }, class: 'btn btn-secondary w-100 mb-2' %>
              <%= link_to "Manage addresses", customer_addresses_path, class: 'btn btn-secondary w-100 mb-2' %>
              <%= link_to "Orders", customer_root_path, class: 'btn btn-secondary w-100 mb-2' %>
            </div>
          </div>        
        </div>
        <div class="col-8">
          <%= render 'layouts/shared/notice' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
